.groupTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  padding: 0 1em;
}

.groupDragOver {
  border: 1px solid gray;
}

.dragHandleLarge {
  margin-right: 1.25em;
}

.dragOver {
  background-color: gray !important;
}

.listGroupItem {
  position: relative;
  padding: 0.5rem;
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
