#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.toggleThemeButton {
  position: fixed;
  top: 1em;
  right: 1em;
  color: white;
}

.toggleThemeButton:hover {
  color: gray;
}

.kofiButton {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

@media (max-width: 576px) {
  .kofiButton {
    top: 0.75em;
    right: 6em;
    left: auto;
    bottom: auto;
  }
}
